html{
    scroll-behavior: smooth;
}
    body{
    margin: 0;
    padding: 0;
    font-family: Corbel,cursive;
}
header{
    background: linear-gradient(to right,darkslategray,gray);
    padding: 0px;
    border-radius: 15px;
}
table{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    border-collapse: collapse;
    border: none;
}
ul li{
    display: inline;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    font-size: 22px;
    background: linear-gradient(to right,#556666,lightslategray);
    padding: 15px;
    border-radius: 25px;
}
hr{
    height: 10px;
    width: 400px;
    margin: auto;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
}
footer{
    color: lightgray;
}
span{
    float: right;
    margin-right: 20px;
}
.nav:hover{
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 3px 10px 3px 10px;
    font-size: 35px;
    color: black;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px 5px lightgray;
}
.nav{
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 3px 10px 3px 10px;
    font-size: 30px;
    color: lightgray;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px 5px black;
}
.intro{
    background: url("img/intro-bg.jpg");
    height: 900px;
}
.hero {
	margin-top: 0;
    padding-top: 15%;
    color: black;
    text-shadow: 5px 5px 10px lightgray;
    text-align: center;
    font-size: 75px;
    letter-spacing: -.05em;
    line-height: 1.2em;
    font-family: 'Revalia', cursive;
}
.sub{
    margin-top: 0;
    padding-top: 3%;
    color: darkslategray;
    text-shadow: 3px 3px 6px lightgray;
    text-align: center;
    font-size: 35px;
    letter-spacing: .05em;
    line-height: 1.2em;
    font-family: 'Revalia', cursive;
}
.port{
    background-color: #556666;
    padding-bottom: 10px;
}
.sub2{
	margin-top: 0;
    padding-top: 1%;
    color: gray;
    text-shadow: 3px 3px 6px black;
    text-align: center;
    font-size: 35px;
    letter-spacing: .05em;
    line-height: 1.2em;
    font-family: 'Revalia', cursive;
}
.gal{
    width: 350px;
    height: 210px;
    margin-left: 20px;
    border-radius: 15px;
}
.gal:hover{
    width: 370px;
    height: 230px;
    margin-left: 20px;
    border-radius: 15px;
    border: 3px solid lightgray;
    box-shadow: 0 0 20px black;
}
.abt{
    background-color: lightslategray;
    padding-top: 5px;
}
.contact{
    background-color: #67D5E1;
    height: 637px;
}
.social{
    height: 50px;
    width: 50px;
}
.social:hover{
    height: 60px;
    width: 55px;
    box-shadow: 0 0 5px black;
    border-radius: 70px;
    border: 3px solid lightgray;
}
.social_div{
    padding: 20px;
    width: 15%;
    margin: auto;
}
.menu{
    width: 375px;
    margin: auto;
    margin-left: 580px;
}
.nav2:hover{
    margin-right: 5px;
    /*margin-bottom: 5px;*/
    padding: 3px 10px 3px 10px;
    font-size: 25px;
    color: black;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px 5px lightgray;
}
.nav2{
    margin-right: 5px;
    /*margin-bottom: 5px;*/
    padding: 3px 10px 3px 10px;
    font-size: 20px;
    color: lightgray;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px 5px black;
}
#hero2{
    padding-top: 3%;
    font-size: 60px;
}
#me{
    padding-top: 1%;
    color: lightgray;
    text-shadow: 3px 3px 6px black;
    margin-top: 0;
    text-align: center;
    font-size: 35px;
    letter-spacing: .05em;
    line-height: 1.2em;
    font-family: 'Revalia', cursive;
}
#mhr{
    width: 300px;
    background-color: lightgray;
    box-shadow: 2px 2px 5px black;
}
#ad{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    border-radius: 40px;
    box-shadow: 10px 10px 12px #556666;
    border-top: 5px solid #556666;
    border-left: 5px solid #556666;
}
